# Python
__pycache__/
*.py[cod]
*.egg
*.egg-info/
dist/
build/
.eggs/
*.pyo

# Environment
.env
.venv/
env/
venv/

# Jupyter
.ipynb_checkpoints/

# macOS/Windows
.DS_Store
Thumbs.db

# Streamlit cache
.streamlit/
